<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Image Classification</title>
</head>

<body>
    <div class="container">
        <input type="file" id="file" accept="image/*" hidden>
        <div class="img-area " data-img="">
            <i class='bx bxs-cloud-upload'></i>
            <h3>Upload Image</h3>
            <p>Image size must be less than <span>2mb</span></p>
        </div>
        <button class="select-image">Select Image</button>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>

</body>

</html>