<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="`t" content="width=device-width, initial-scale=1.0">
    <title>Safe-Skull</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage.css') }}">
</head>

<body>
    <div class="banner">
        <div class="content">
            <img src="{{ url_for('static', filename='images/logo.jpeg') }}" class="logo">
            <h1>Safe-Skull App</h1>
            <div class="container-bio">
                <p>Your AI companion dedicated to promoting road safety.<br> With lightning fast precision, 
                    I spot helmets to protect riders worldwide.Join me in making every ride a safer one.</p>
            </div>
            <a class="detectHelmetPageLink" href="/predict" hidden></a>
            <button class="button">Detect Helmet</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
</body>

</html>