@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root{
    --blue: #0071FF;
    --light-blue: #B6DBF6;
    --dark-blue:#005DD1;
    --grey: #f2f2f2;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url('/static/images/background.jpeg');
    background-size: cover;
    background-position: center;
}
.container{
    max-width:400px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    opacity: 0.75;
}
.img-area{
    position: relative;
    width:100%;
    height: 240px;
    background: var(--grey);
    margin-bottom: 30px;
    border-radius:15px;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-area.icon {
    font-size: 100px;
}
.img-area h3{
    font-size:20px;
    font-weight: 500;
    margin-bottom: 6px;
}
.img-area p{
    color: #999;
}
.img-area p span {
    font-weight:600;
}
.img-area img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    z-index:100;
}
.img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    font-weight:500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity:0;
    transition: all .3s ease;
    z-index: 200;
}
.img-area.active:hover::before{
    opacity: 1;
}
.select-image {
    display:block;
    width:100%;
    padding: 16px 0;
    border-radius: 15px;
    background: var(--blue);
    color:#fff;
    font-weight:500;
    font-size:16px;
    border:none;
    cursor: pointer;
    transition:all .3s ease;
}

.select-image:hover{
    background: var(--dark-blue);
}
