@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/static/images/background.jpeg');
    background-size: cover;
    background-position: center;
}


.logo {
    width: 150px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 50px;
    margin-top: 20px;
}

.content p {
    margin: 20px auto;
    font-weight: 10;
    line-height: 25px;
}



.content .button {
    font-size: 18px;
    padding: 15px;
    border: 2px solid #FFF;
    border-radius: 25px;
    color: #fff;
    display: block;
    margin: 50px auto;
    background: transparent;
    transition: .2s ease-in-out 0s;
}

.content .button:hover {
    cursor: pointer;
    transform: scale(1.08);
    background: #009688;
    opacity: 0.85;
}