* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/static/images/background.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    opacity: 0.75;
}

.container h1 {
    text-align: center;
    font-size: 43px;
    font-weight: bold;
    color: #175e7e;
}

.container h1::after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background-color: #ff6b6b;
    margin: 10px auto;
    border-radius: 2px;
}

.img-box {
    max-width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}